{ margin: 0; padding: 0; box-sizing: border-box; font-family: monospace; }


body 
{ background-color: #ffffff; color: #333; }

header { background-color: #ffb88c; padding: 20px 0; box-shadow: 0 2px 5px rgba(0,0,0,0.1); position: sticky; top: 0; z-index: 1000; }

nav { display: flex; justify-content: center; gap: 40px; }

nav a { text-decoration: none; color: rgb(255, 255, 255); font-weight: 600; font-size: 18px; transition: 0.3s; font-family: monospace; }

nav a:hover, nav a.active { border-bottom: 3px solid white; padding-bottom: 5px; }

.hero { text-align: center; padding: 80px 20px; background-image: url(XHBFGSUJHGBEJ.jpg); background-size: cover; background-position: center;color: rgb(255, 181, 120); font-family: monospace;}

.hero h1 { font-size: 50px; font-weight: 700; text-shadow: 2px 2px 5px rgba(0,0,0,0.3); }

.hero p { margin-top: 10px; font-size: 18px; }

.hero button { margin-top: 20px; background-color: white; color: #ff9966; border: none; padding: 12px 25px; border-radius: 25px; font-weight: bold; cursor: pointer; transition: 0.3s; font-family: monospace;}

.hero button:hover { background-color: #ffe1cc; }

.products { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 30px; padding: 50px; }

.card { background-color: white; border-radius: 15px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); text-align: center; padding: 20px; transition: 0.3s; font-family: monospace;}

.card:hover { transform: translateY(-5px); }

.card img { width: 100%; border-radius: 10px; height: 220px; object-fit: cover; }

.card h3 { margin: 15px 0 5px; color: #ff7b47; }

.card p { margin-bottom: 10px; font-weight: 500; }

.card button { background-color: #ff995e; border: none; color: white; padding: 10px 20px; border-radius: 20px; cursor: pointer; transition: 0.3s; font-family: monospace;}

.card button:hover { background-color: #ff7b47; }

.about, .contact { padding: 40px 50px; text-align: center; font-family: monospace; }

.info { text-align: center; t}

.about h2, .contact h2 { color: #ff7b47; margin-bottom: 10px; }

footer { background-color: #ffb88c; text-align: center; padding: 20px; color: white; margin-top: 30px; font-family: monospace;}

@media (max-width: 600px) { nav { flex-direction: column; gap: 10px; } .hero h1 { font-size: 36px; } }
